* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
}
a { /* a 태그의 속성은 링크 */
    text-decoration: none; /* 밑줄 제거 */
    color: #333;

}
li {
    list-style: none; /* 리스트의 항목 기본 표시 요소 제거 */
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: white;
   padding: 10px 24px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   position: sticky; /* <- top, left, bottom과 같은 태그 위에 쓰임. */
   top: 0;
   z-index: 100;   /* 100에 특별한 의미는 없음. 상대적으로 큰 값을 부여하는 것이 일반적이기 때문에 부여함. */
}

.navbar-logo a {
    font-size: 24px;
    font-weight: 700;
    color: #2c3e50;
}

.navbar-menu {
    display: flex;
    gap: 30px;
}

.navbar-menu a {
    display: block; /* !!!중요!!! 블록 속성으로 바꿔서 클릭 영역을 확보해 줌.
    (클릭 버튼 영역이 넓어짐으로써 클릭이 수월해짐.) */
    font-weight: 600;
    font-size: 16px;
    color: #555;
    padding: 8px 12px;
    transition: color 0.3s;
}

.navbar-menu a:hover {
    color: #e74c3c;
}

.navbar-menu li {
    position: relative;
}

.dropdown-content {
    display: none; /* 평소에는 감춤. */
    position: absolute; /* absolute 사용 시엔 반드시 부모 relative가 있어야 함. */
    top: 100%; /* <-- 부모 콘텐츠 바로 아래라는 뜻 *
    (상단 바 블록에 걸리지 않아서 보기 좋게 뜸. 즉, 100%는 부모의 영역만큼 띄우라는 의미.) */
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 10px 0;
    z-index: 101; /* 100보다 1 크게 잡으라는 뜻. 100보다 위에 있어야 하기 때문. 
    */
}

.dropdown:hover .dropdown-content {
    display: block;
}