/* CSS는 단순 텍스트 파일이라 ! 클릭할 필요 X */
*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*  box-sizing: border-box <-- 꼭 사용 */
}

body {
    background-color: #f0f2f5;
    padding-top: 50px;
    /* body 태그에 padding을 주거나 profile 태그에 margin-top을 줘서
    가로 중앙 세로 꼭대기로 둘 수 있음. */
}

.card-container {
    width: 320px;
    background-color: white;
    /* 0(상하) auto(좌우): 좌우가 각각 마진 최대치로 갖게 되면서 화면을 확장해도 가운데로 정렬됨.
     즉, 좌우 마진을 auto로 주면 부모의 크기 내에서 최대로 가질 수 있도록 됨. 자연스럽게 가운데 정렬 가능.*/
    margin: 0 auto;
    /* margin auto는 본인이 가운데 섬. flex와 다른 점. */
    border-radius: 16px;
    /* ↑ 모서리 둥글게 */
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden; /* 카드 내용들이 카드 영역을 벗어나면 넘쳐서 보이지 않도록 함. */
    text-align: center;
    padding-bottom: 30px; /* 내용이 카드의 가장 아래에 붙으면 보기 안 좋으니 paadding-bottom을 흔히 사용. */
}

.profile-box {
    background-color: #4a90e2;
    padding: 40px 0;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%; /* 원형 */
    border: 4px solid white; /* 테두리 */
}

.info-box {
    padding: 20px; /* 문단 앞뒤 간격 */
}

.name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.job {
    font-size: 14px;
    font-weight: bold;
    color: #4a90e2;
    margin-bottom: 16px;
}

.bio {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.6; /*14px의 1.6배 만큼 공간을 잡고 여유 공간 배치하라는 뜻. */
}

.skills-box {
    margin-bottom: 25px;
}

.tag {
    display: inline-block;
    /* ↑ 글자만큼의 크기를 가지는 태그(한 줄을 다 갖는 블록 태그와는 다름) */
    background-color: #e9ecef;
    color: #495057;
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 20px;
    margin: 0 4px;
}