* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", "Helvetica", sans-serif;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
}

h1 {
  background-color: black;
  color: white;
}
