body {
  font-family: "Malgun Gothic", sans-serif;
  line-height: 1.6;
  margin: 20px;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 2rem;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 15px;
}

main {
  background-color: #fff;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.technology {
  /* list-style: none; */
  margin: 25px;
}

.chart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  line-height: 50px;
  border-top: 1px solid #b3b3b380;
  border-left: 1px solid #b3b3b380;
}

.top {
  border-bottom: 1px solid #b3b3b380;
  background-color: #d6d6d6;
}

.cell {
  padding: 5px;
  border-bottom: 1px solid #b3b3b380;
  border-right: 1px solid #b3b3b380;
}
